<script type='text/javascript'>
    $(function() {
        // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
        //Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
        Dashing.widget_base_dimensions = [370, 340]
        Dashing.numColumns = 5
    });

    $(function bringToTop() {
        $('li').live('click', function(e){
            var widget = $(this).find('.widget');
            if(widget.data('url')){
                var url = widget.data('url');
                var win = window.open(url, '_blank');
                win.focus();
            }
        });
    });
</script>


<% content_for :title do %>Aditya's dashboard - iaditya.com<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="fa fa-clock-o icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-adityai-dashing-master" data-view="CircleCi" data-title="dashing" onclick="location.href='https://circleci.com/gh/adityai/dashing'"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iaditya.com" data-view="Text" data-title="iAditya.com" onclick="location.href='http://www.iaditya.com'"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-adityai-jenkinsElastic-Docker-master" data-view="CircleCi" data-title="jenkinsElastic-Docker"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weatherTahoe" data-view="Weather"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="weatherSantaCruz" data-view="Weather"></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="weatherSFO" data-view="Weather"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1" >
      <div data-id="twitter_ai" data-view="Comments" data-url="https://www.twitter.com" style="background-color:#83d6ff;"></div>
      <i class="fa fa-twitter icon-background"></i>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="aapl" data-view="Text" style="background-color:#77dde6;" data-moreinfo="AAPL"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tsla" data-view="Text" style="background-color:#77dde6;" data-moreinfo="TSLA"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="v" data-view="Text" style="background-color:#77dde6;" data-moreinfo="V"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="poc" data-view="Text" data-text="Proof of concept" style="background-color:#e66b37;" data-moreinfo="" onclick="location.href='/mon'"></div>
    </li>

    <!--
    <li data-row="3" data-col="3" data-sizex="3" data-sizey="1">
      <div data-id="daily_dilbert" data-view="Image" data-width="100%"></div>
    </li>
-->
  </ul>
</div>
